body {
  background: teal;
}

/* .main-container {
  display: flex;
  gap: 10px;
  align-items: center;
} */

/* .star-container {
  display: flex;
} */

/* .star-style {
  width: 42px;
  height: 42px;
} */

/* .text-style {
  font-size: 24px;
  line-height: 1;
  margin: 0;
} */
